@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeInLeni {
    0% {
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 1;
    }
}

@keyframes fadeInWithLeft {
    0% {
        clip-path: inset(0 100% 0 0);
    }

    100% {
        clip-path: inset(-1px -1px -1px -1px);
    }
}

@keyframes fadeInWithRight {
    0% {
        clip-path: inset(0 0 0 100%);
    }

    100% {
        clip-path: inset(-1px -1px -1px -1px);
    }
}

@keyframes fadeInWithTop {
    0% {
        clip-path: inset(0 0 100% 0);
    }

    100% {
        clip-path: inset(-1px -1px -1px -1px);
    }
}

@keyframes fadeInWithBottom {
    0% {
        clip-path: inset(100% 0 0 0);
    }

    100% {
        clip-path: inset(-1px -1px -1px -1px);
    }
}