@use "../abstracts" as *;
@use "../abstracts/variables" as *;

.alt-header {
    @extend %container;

    position: fixed;
    z-index: 1;
    left: 0; right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--clr-theme-800);
    transition: background-color 0.3s ease-in-out;

    .main-header__nav-bar {
        border-top: var(--clr-theme-800) solid 1px;
        border-bottom: var(--clr-theme-800) solid 1px;
    }
}
.main-header {
    @extend %container;

    position: fixed;
    z-index: 1;
    left: 0; right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: var(--clr-theme-100);
    transition: background-color 0.3s ease-in-out;
    
    &--scroll {
        background-color: var(--clr-theme-100);
        color: var(--clr-theme-800);
        transition: background-color 0.3s ease-in-out;

        .main-header__nav-bar {
            border-top: var(--clr-theme-800) solid 1px;
            border-bottom: var(--clr-theme-800) solid 1px;
        }
    }

    &__top-bar {
        @extend %container-desktop;
        
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 1.5rem;

        .top-bar__socials {
            position: absolute;
            display: flex;
            align-items: center;
            gap: 1.5rem;
            left: 0;
            top: 1rem;
            
            svg {
                color: FFFFFF;
                height: 3.2rem;
            }
            a:last-child svg {
                height: 2.8rem;
            }
        }
    }

    &__nav-bar {
        border-top: #FFFFFF solid 1px;
        border-bottom: #FFFFFF solid 1px;

        ul {
            display: flex;
            justify-content: center;
            gap: 3rem;

            a {
                display: block;
                padding: 1.5rem 3rem; 
            }
        }
    }
}